:root{
    --primary-color: #fd4766;
    --secondary-color: #0e1525;
    --bg-dark-blue: #091020;
    --bg-white: #fff;
    --gray-color: #c6c9d8bf;
    --gradient-color : linear-gradient(-224deg, var(--primary-color) 0, #337dff 100%);
    --primary-font : 'Poppins', sans-serif;
    --primary-text: #fd4766;
    --gradient-text : linear-gradient(120deg, #1c99fe 20.7%, #7644ff 50.2%, var(var(--primary-color)) 79.7%);
    /* filter: progid;DXImageTransform.Microsoft.gradient(startColorstr='var(--primary-color)' , endColorstr='var(--secondary-color)', GradientType=1); */

    --text-gray: #c6c9d8bf;
    --text-white: #fff;  
}

@media(max-width:991px){
    .header-scrolled{
        height: auto;
    }
    h3{
        font-size: 20px;
    }

    .header_wrapper .menu-navbar-nav{
        text-align: center;
        background: var(--bg-dark-blue);
        padding-bottom: 15px;
    }

    .header_wrapper .nav-item .nav-link{
        margin-top: 15px;
    }

    .banner_wrapper{
        padding: 200px 0;
    }
}